@use '../../variables';
@use '../../functions';

$sizes: '1' '2' '3' '4' '5' '8' '10' '12' '16' '18' '20' '30' '40' '50' '60' '70' '80' '90' '100';

// REM
@each $tuple in variables.$sizings {
	@each $size in variables.$sizing-rem {
		.#{nth($tuple, 1)}#{"-"}#{functions.str-replace($size, '.', '-')}#{"r"} {
			#{nth($tuple, 2)}: #{$size}#{'rem'} !important;
		}
	}
}

// Percentage
@each $tuple in variables.$sizings {
	@each $size in $sizes {
		.#{nth($tuple, 1)}#{"-"}#{$size}#{"p"} {
			#{nth($tuple, 2)}: #{$size}#{'%'} !important;
		}
	}
}

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		// REM
		@each $tuple in variables.$sizings {
			@each $size in variables.$sizing-rem {
				.#{$id}-#{nth($tuple, 1)}#{"-"}#{functions.str-replace($size, '.', '-')}#{"r"} {
					#{nth($tuple, 2)}: #{$size}#{'rem'} !important;
				}
			}
		}

		// Percentage
		@each $tuple in variables.$sizings {
			@each $size in $sizes {
				.#{$id}-#{nth($tuple, 1)}#{"-"}#{$size}#{"p"} {
					#{nth($tuple, 2)}: #{$size}#{'%'} !important;
				}
			}
		}
	}
}