@use '../../variables';

// Width
.mw-container { max-width: var(--view-default); }

.mnw-none { min-width: none !important; }
.mnw-screen { min-width: 100vw !important; }

.mw-screen { max-width: 100vw !important; }
.mw-none { max-width: none !important; }
.w-screen { width: 100vw !important; }
.w-auto { width: auto !important; }
.w-50p { width: 50% !important; }
.w-100p { width: 100% !important; }
.w-1 { width: 1px !important; }
.w-4 { width: 4px !important; }

// Height
.mnh-none { min-height: none !important; }
.mnh-screen { min-height: 100vh !important; }

.mh-screen { max-height: 100vh !important; }
.mh-none { max-height: none !important; }
.h-screen { height: 100vh !important; }
.h-auto { height: auto !important; }
.h-50p { height: 50% !important; }
.h-100p { height: 100% !important; }
.h-1 { height: 1px !important; }
.h-4 { height: 4px !important; }

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		// Width
		.#{$id}-mw-container { max-width: var(--view-default); }
		.#{$id}-mw-screen { max-width: 100vw !important; }
		.#{$id}-mw-none { max-width: none !important; }
		.#{$id}-w-screen { width: 100vw !important; }
		.#{$id}-w-auto { width: auto !important; }
		.#{$id}-w-100p { width: 100% !important; }
	
		// Height
		.#{$id}-mxh-none { max-height: none !important; }
		.#{$id}-mxh-screen { max-height: 100vh !important; }
		.#{$id}-mnh-none { min-height: none !important; }
		.#{$id}-mnh-screen { min-height: 100vh !important; }
		.#{$id}-h-screen { height: 100vh !important; }
		.#{$id}-h-auto { height: auto !important; }
		.#{$id}-h-100p { height: 100% !important; }
	}
}