$opacitys: '0', '1', '2', '3', '4', '5', '6', '7', '8', '9';

@each $opacity in $opacitys {
	.opacity-#{$opacity}, .opacity-0#{$opacity} {
		opacity: #{'0.'}#{$opacity} !important;
	}
}

.opacity-full {
	opacity: 1;
}

.surface-disabled {
	pointer-events: none !important;
	user-select: none !important;
	cursor: default !important;
}

.invert {
	filter: invert(1);
}
html.dark .dark-invert {
	filter: invert(1);
}