@use '../../../functions';

$radiuses-px: '0' '1' '2' '3' '4' '5' '8' '12' '16' '20' '90' '128' '256' '512' '1024';
$radiuses-rem: '0.25' '0.5' '0.75' '1' '1.5' '2' '2.5' '3' '5' '10';
$configs: 'top-left' 'top-right' 'bottom-left' 'bottom-right';

@each $radius in $radiuses-px {
	.radius-#{$radius} {
		border-radius: #{$radius}#{'px'};
	}
}
@each $radius in $radiuses-rem {
	.radius-#{functions.str-replace($radius, '.', '-')}r {
		border-radius: #{$radius}#{'rem'};
	}
}

.radius-50p {
	border-radius: 50%;
}

.radius {
	border-radius: var(--border-radius);
}

@each $config in $configs {
	@each $radius in $radiuses-px {
		.border-#{$config}-radius-#{$radius} {
			border-#{$config}-radius: #{$radius}#{'px'};
		}
	}
	@each $radius in $radiuses-rem {
		.border-#{$config}-radius-#{functions.str-replace($radius, '.', '-')}r {
			border-#{$config}-radius: #{$radius}#{'rem'};
		}
	}
}
