//
// PERCENTAGE = append "p" to end of class.
//
// MOBILIZED
//
// Classes for:
// margin = m
// margin top & bottom = my, mv
// margin left & right = mx, mh
// margin-top = mt
// margin-right = mr
// margin-bottom = mb
// margin-left = ml
//

@use '../../variables';

@each $name in variables.$spacing-percent {
	.m-#{$name}p {
		margin: #{$name}#{'%'};
	}
}

@each $name in variables.$spacing-percent {
	.my-#{$name}p,
	.mv-#{$name}p {
		margin-top: #{$name}#{'%'};
		margin-bottom: #{$name}#{'%'};
	}
}

@each $name in variables.$spacing-percent {
	.mx-#{$name}p,
	.mh-#{$name}p {
		margin-right: #{$name}#{'%'};
		margin-left: #{$name}#{'%'};
	}
}

@each $name in variables.$spacing-percent {
	.mt-#{$name}p {
		margin-top: #{$name}#{'%'};
	}
}
@each $name in variables.$spacing-percent {
	.mr-#{$name}p {
		margin-right: #{$name}#{'%'};
	}
}
@each $name in variables.$spacing-percent {
	.mb-#{$name}p {
		margin-bottom: #{$name}#{'%'};
	}
}
@each $name in variables.$spacing-percent {
	.ml-#{$name}p {
		margin-left: #{$name}#{'%'};
	}
}

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		@each $name in variables.$spacing-percent {
			.#{$id}-m-#{$name}p {
				margin: #{$name}#{'%'};
			}
		}
		
		@each $name in variables.$spacing-percent {
			.#{$id}-my-#{$name}p,
			.#{$id}-mv-#{$name}p {
				margin-top: #{$name}#{'%'};
				margin-bottom: #{$name}#{'%'};
			}
		}
		
		@each $name in variables.$spacing-percent {
			.#{$id}-mx-#{$name}p,
			.#{$id}-mh-#{$name}p {
				margin-right: #{$name}#{'%'};
				margin-left: #{$name}#{'%'};
			}
		}
		
		@each $name in variables.$spacing-percent {
			.#{$id}-mt-#{$name}p {
				margin-top: #{$name}#{'%'};
			}
		}
		@each $name in variables.$spacing-percent {
			.#{$id}-mr-#{$name}p {
				margin-right: #{$name}#{'%'};
			}
		}
		@each $name in variables.$spacing-percent {
			.#{$id}-mb-#{$name}p {
				margin-bottom: #{$name}#{'%'};
			}
		}
		@each $name in variables.$spacing-percent {
			.#{$id}-ml-#{$name}p {
				margin-left: #{$name}#{'%'};
			}
		}
	}
}
