@use "../../variables";
@use "../../functions";

@each $size in variables.$spacing-rem {
	.m-#{functions.str-replace($size, '.', '-')}r {
		margin: #{$size}#{'rem'};
	}
}

@each $size in variables.$spacing-rem {
	.my-#{functions.str-replace($size, '.', '-')}r,
	.mv-#{functions.str-replace($size, '.', '-')}r {
		margin-top: #{$size}#{'rem'};
		margin-bottom: #{$size}#{'rem'};
	}
}

@each $size in variables.$spacing-rem {
	.mx-#{functions.str-replace($size, '.', '-')}r,
	.mh-#{functions.str-replace($size, '.', '-')}r {
		margin-right: #{$size}#{'rem'};
		margin-left: #{$size}#{'rem'};
	}
}

@each $size in variables.$spacing-rem {
	.mt-#{functions.str-replace($size, '.', '-')}r {
		margin-top: #{$size}#{'rem'};
	}
}
@each $size in variables.$spacing-rem {
	.mr-#{functions.str-replace($size, '.', '-')}r {
		margin-right: #{$size}#{'rem'};
	}
}
@each $size in variables.$spacing-rem {
	.mb-#{functions.str-replace($size, '.', '-')}r {
		margin-bottom: #{$size}#{'rem'};
	}
}
@each $size in variables.$spacing-rem {
	.ml-#{functions.str-replace($size, '.', '-')}r {
		margin-left: #{$size}#{'rem'};
	}
}

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		@each $size in variables.$spacing-rem {
			.#{$id}-m-#{functions.str-replace($size, '.', '-')}r {
				margin: #{$size}#{'rem'};
			}
		}

		@each $size in variables.$spacing-rem {
			.#{$id}-my-#{functions.str-replace($size, '.', '-')}r,
			.#{$id}-mv-#{functions.str-replace($size, '.', '-')}r {
				margin-top: #{$size}#{'rem'};
				margin-bottom: #{$size}#{'rem'};
			}
		}
		
		@each $size in variables.$spacing-rem {
			.#{$id}-mx-#{functions.str-replace($size, '.', '-')}r,
			.#{$id}-mh-#{functions.str-replace($size, '.', '-')}r {
				margin-right: #{$size}#{'rem'};
				margin-left: #{$size}#{'rem'};
			}
		}
		
		@each $size in variables.$spacing-rem {
			.#{$id}-mt-#{functions.str-replace($size, '.', '-')}r {
				margin-top: #{$size}#{'rem'};
			}
		}
		@each $size in variables.$spacing-rem {
			.#{$id}-mr-#{functions.str-replace($size, '.', '-')}r {
				margin-right: #{$size}#{'rem'};
			}
		}
		@each $size in variables.$spacing-rem {
			.#{$id}-mb-#{functions.str-replace($size, '.', '-')}r {
				margin-bottom: #{$size}#{'rem'};
			}
		}
		@each $size in variables.$spacing-rem {
			.#{$id}-ml-#{functions.str-replace($size, '.', '-')}r {
				margin-left: #{$size}#{'rem'};
			}
		}
	}
}