@use "../../variables";
@use "../../functions";

@each $size in variables.$spacing-rem {
	.p-#{functions.str-replace($size, '.', '-')}r {
		padding: #{$size}#{'rem'};
	}
}

@each $size in variables.$spacing-rem {
	.py-#{functions.str-replace($size, '.', '-')}r,
	.pv-#{functions.str-replace($size, '.', '-')}r {
		padding-top: #{$size}#{'rem'};
		padding-bottom: #{$size}#{'rem'};
	}
}

@each $size in variables.$spacing-rem {
	.px-#{functions.str-replace($size, '.', '-')}r,
	.ph-#{functions.str-replace($size, '.', '-')}r {
		padding-right: #{$size}#{'rem'};
		padding-left: #{$size}#{'rem'};
	}
}

@each $size in variables.$spacing-rem {
	.pt-#{functions.str-replace($size, '.', '-')}r {
		padding-top: #{$size}#{'rem'};
	}
}
@each $size in variables.$spacing-rem {
	.pr-#{functions.str-replace($size, '.', '-')}r {
		padding-right: #{$size}#{'rem'};
	}
}
@each $size in variables.$spacing-rem {
	.pb-#{functions.str-replace($size, '.', '-')}r {
		padding-bottom: #{$size}#{'rem'};
	}
}
@each $size in variables.$spacing-rem {
	.pl-#{functions.str-replace($size, '.', '-')}r {
		padding-left: #{$size}#{'rem'};
	}
}

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		@each $size in variables.$spacing-rem {
			.#{$id}-p-#{functions.str-replace($size, '.', '-')}r {
				padding: #{$size}#{'rem'};
			}
		}

		@each $size in variables.$spacing-rem {
			.#{$id}-py-#{functions.str-replace($size, '.', '-')}r,
			.#{$id}-pv-#{functions.str-replace($size, '.', '-')}r {
				padding-top: #{$size}#{'rem'};
				padding-bottom: #{$size}#{'rem'};
			}
		}
		
		@each $size in variables.$spacing-rem {
			.#{$id}-px-#{functions.str-replace($size, '.', '-')}r,
			.#{$id}-ph-#{functions.str-replace($size, '.', '-')}r {
				padding-right: #{$size}#{'rem'};
				padding-left: #{$size}#{'rem'};
			}
		}
		
		@each $size in variables.$spacing-rem {
			.#{$id}-pt-#{functions.str-replace($size, '.', '-')}r {
				padding-top: #{$size}#{'rem'};
			}
		}
		@each $size in variables.$spacing-rem {
			.#{$id}-pr-#{functions.str-replace($size, '.', '-')}r {
				padding-right: #{$size}#{'rem'};
			}
		}
		@each $size in variables.$spacing-rem {
			.#{$id}-pb-#{functions.str-replace($size, '.', '-')}r {
				padding-bottom: #{$size}#{'rem'};
			}
		}
		@each $size in variables.$spacing-rem {
			.#{$id}-pl-#{functions.str-replace($size, '.', '-')}r {
				padding-left: #{$size}#{'rem'};
			}
		}
	}
}