//
// PERCENTAGE = append "p" to end of class.
//
// MOBILIZED
//
// Classes for:
// padding = m
// padding top & bottom = my, mv
// padding left & right = mx, mh
// padding-top = mt
// padding-right = mr
// padding-bottom = mb
// padding-left = ml
//

@use '../../variables';

@each $name in variables.$spacing-percent {
	.p-#{$name}p {
		padding: #{$name}#{'%'};
	}
}

@each $name in variables.$spacing-percent {
	.py-#{$name}p,
	.pv-#{$name}p {
		padding-top: #{$name}#{'%'};
		padding-bottom: #{$name}#{'%'};
	}
}

@each $name in variables.$spacing-percent {
	.px-#{$name}p,
	.ph-#{$name}p {
		padding-right: #{$name}#{'%'};
		padding-left: #{$name}#{'%'};
	}
}

@each $name in variables.$spacing-percent {
	.pt-#{$name}p {
		padding-top: #{$name}#{'%'};
	}
}
@each $name in variables.$spacing-percent {
	.pr-#{$name}p {
		padding-right: #{$name}#{'%'};
	}
}
@each $name in variables.$spacing-percent {
	.pb-#{$name}p {
		padding-bottom: #{$name}#{'%'};
	}
}
@each $name in variables.$spacing-percent {
	.pl-#{$name}p {
		padding-left: #{$name}#{'%'};
	}
}

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		@each $name in variables.$spacing-percent {
			.#{$id}-p-#{$name}p {
				padding: #{$name}#{'%'};
			}
		}
		
		@each $name in variables.$spacing-percent {
			.#{$id}-py-#{$name}p,
			.#{$id}-pv-#{$name}p {
				padding-top: #{$name}#{'%'};
				padding-bottom: #{$name}#{'%'};
			}
		}
		
		@each $name in variables.$spacing-percent {
			.#{$id}-px-#{$name}p,
			.#{$id}-ph-#{$name}p {
				padding-right: #{$name}#{'%'};
				padding-left: #{$name}#{'%'};
			}
		}
		
		@each $name in variables.$spacing-percent {
			.#{$id}-pt-#{$name}p {
				padding-top: #{$name}#{'%'};
			}
		}
		@each $name in variables.$spacing-percent {
			.#{$id}-pr-#{$name}p {
				padding-right: #{$name}#{'%'};
			}
		}
		@each $name in variables.$spacing-percent {
			.#{$id}-pb-#{$name}p {
				padding-bottom: #{$name}#{'%'};
			}
		}
		@each $name in variables.$spacing-percent {
			.#{$id}-pl-#{$name}p {
				padding-left: #{$name}#{'%'};
			}
		}
	}
}
