@use '../../variables';

@use 'margin_percentage';
@use 'margin_rem';

@use 'padding_percentage';
@use 'padding_rem';

$spacing-zero: (
    'm' 'margin',
    'mt' 'margin-top',
    'mr' 'margin-right',
    'mb' 'margin-bottom',
    'ml' 'margin-left',
    'p' 'padding',
    'pt' 'padding-top',
    'pr' 'padding-right',
    'pb' 'padding-bottom',
    'pl' 'padding-left',
);

@each $tuple in $spacing-zero {
    .#{nth($tuple, 1)}-0 {
        #{nth($tuple, 2)}: 0;
    }
}

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		@each $tuple in $spacing-zero {
			.#{$id}-#{nth($tuple, 1)}-0 {
				#{nth($tuple, 2)}: 0;
			}
		}		
	}
}