.j-icon,
.icon {
	display: flex;
	justify-content: center;
	align-items: center;

	&, & svg {
		width: 1.25rem;
		height: 1.25rem;
	}

	$icon-sizes: (
		'xxxs' '0.25',
		'xxs' '0.5',
		'xs' '0.75',
		'sm' '1',
		'default' '1.25',
		'md' '1.5',
		'lg' '1.75',
		'xl' '2',
		'xxl' '2.5',
		'xxxl' '3',
		'xxxxl' '3.5',
		'xxxxxl' '4',
		'xxxxxxl' '4.5',
		'xxxxxxxl' '5',
	);

	@each $tuple in $icon-sizes {
		&#{"."}#{nth($tuple, 1)}, &#{"."}#{nth($tuple, 1)} svg {
			width: #{nth($tuple, 2)}#{"rem"};
			height: #{nth($tuple, 2)}#{"rem"};
		}
	}

	&.set-stroke > svg {
		stroke: currentColor!important;
	}
}
