@use '../variables';

.j-loader {
	display: inline-block;
	border: 1rem solid var(--ui-2);
	border-top: 1rem solid var(--accent);
	border-radius: 50%;
	width: 7.5rem;
	height: 7.5rem;
	animation: spin 0.6s linear infinite;

	&.transparent {
		border-top-color: transparent;
	}

	&.sm {
		width: 1rem;
		height: 1rem;
		border-width: 0.1875rem;
	}
	&.md {
		width: 2rem;
		height: 2rem;
		border-width: 0.25rem;
	}
	&.lg {
		width: 4rem;
		height: 4rem;
		border-width: 0.375rem;
	}
	&.xl {
		width: 6rem;
		height: 6rem;
		border-width: 0.5rem;
	}

	@each $color in variables.$colors {
		@each $weight in variables.$color-weights {
			&.#{$color}-#{$weight} {
				border-top-color: var(--#{$color}-#{$weight});
			}
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
