@use '../../variables';

// Accent
.text-accent {
	color: var(--accent);
}
.bg-accent {
	background-color: var(--accent);
}
.bg-transparent {
	background: transparent;
}

@each $color in variables.$uis {
	.#{$color} {
		background-color: var(#{"--"}#{$color});
	}
}

html.dark {
	@each $color in variables.$uis {
		.dark-#{$color} {
			background-color: var(#{"--"}#{$color});
		}
	}
}

// Shades of black and white (i.e. "basic" colors)

/// Text
@each $name, $color in variables.$basic-colors {
	.text-#{$name} {
		color: #{$color};
	}
}

@each $name, $var in variables.$dynamic-colors {
	.text-#{$name} {
		color: var(#{"--"}#{$var});
	}
}

/// Background
@each $name, $color in variables.$basic-colors {
	.bg-#{$name} {
		background-color: #{$color};
	}
}

@each $name, $color in variables.$basic-colors {
	.bg-hover-#{$name}:hover {
		background-color: #{$color};
	}
}