@use '../../variables';

// Default colors
$weights: '50', '100', '200', '300', '400', '500', '600', '700', '800', '900';

// Default variants
@each $color in variables.$colors {
	@each $weight in $weights {
		.bg-#{$color}-#{$weight} {
			background-color: var(--#{$color}-#{$weight}) !important;
		}
	}
}
html.dark {
	@each $color in variables.$colors {
		@each $weight in $weights {
			.dark-bg-#{$color}-#{$weight} {
				background-color: var(--#{$color}-#{$weight}) !important;
			}
		}
	}
}
@each $color in variables.$colors {
	@each $weight in $weights {
		.bg-hover-#{$color}-#{$weight}:hover {
			background-color: var(--#{$color}-#{$weight}) !important;
		}
	}
}
@each $color in variables.$colors {
	@each $weight in $weights {
		.text-#{$color}-#{$weight} {
			color: var(--#{$color}-#{$weight}) !important;
		}
	}
}
@each $color in variables.$colors {
	@each $weight in $weights {
		.text-hover-#{$color}-#{$weight}:hover {
			color: var(--#{$color}-#{$weight}) !important;
		}
	}
}
html.dark {
	@each $color in variables.$colors {
		@each $weight in $weights {
			.dark-text-#{$color}-#{$weight} {
				color: var(--#{$color}-#{$weight}) !important;
			}
		}
	}
}