// Specialized gradients
$angle: -45deg;
$weights: (
    '100' '200',
    '200' '400',
    '300' '500',
    '500' '700',
    '700' '800',
    '600' '800',
    '800' '900',
    '700' '900',
    '800' '900',
    '800' '900',
    '200' '500',
);

@each $tuple in $weights {
    .g-accent-#{nth($tuple, 1)}-#{nth($tuple, 2)} {
        background-image: linear-gradient($angle, var(#{"--accent-"}#{nth($tuple, 2)}) 0%, var(#{"--accent-"}#{nth($tuple, 1)}) 100%);
    }
    .g-accent-#{nth($tuple, 1)}-#{nth($tuple, 2)}#{"-swap"} {
        background-image: linear-gradient($angle, var(#{"--accent-"}#{nth($tuple, 1)}) 0%, var(#{"--accent-"}#{nth($tuple, 2)}) 100%);
    }
}


// https://webgradients.com/

.g-warm-flame {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.g-spring-warmth {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.g-night-fade {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.g-juicy-peach {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.g-lady-lips {
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.g-rainy-ashville {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.g-frozen-dreams {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.g-winter-neva {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.g-dusty-grass {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.g-amy-crisp {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.g-mean-fruit {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.g-deep-blue {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.g-malibu-beach {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.g-true-sunset {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.g-morpheus-den {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.g-rare-wind {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.g-near-moon {
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.g-plum-plate {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.g-blessing {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.g-zeus-miracle {
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}
.g-deep-blue-2 {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.g-happy-acid {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
.g-awesome-pine {
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}
.g-new-york {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.g-fly-high {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
.g-strong-bliss {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
.g-fresh-milk {
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.g-teen-notebook {
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}
.g-polite-rumors {
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}
.g-spiky-naga {
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}
.g-aqua-splash {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.g-premium-dark {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.g-eternal-constance {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.g-midnight-bloom {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
.g-tempting-azure {
	background-image: linear-gradient(-120deg, #84fab0 0%, #8fd3f4 100%);
}
.g-new-life {
	background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.g-happy-fisher {
	background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

// Custom
.g-white-to-gray {
    background-image: linear-gradient(to bottom, white 0%, var(--ui-1) 100%);
}
.g-breeze {
	background: linear-gradient(109.6deg, #ace0f9 13%, #fff1eb 85%);
}