@use '../variables';
@use 'sass:map';

html, body {
	&.light, &[data-theme='light'] {
		@each $tuple in variables.$ui-light {
			#{"--"}#{nth($tuple, 1)}: #{nth($tuple, 2)};
		}

		background: var(--ui);
	}

	&.dark, &[data-theme='dark'] {
		@each $tuple in variables.$ui-dark {
			#{"--"}#{nth($tuple, 1)}: #{nth($tuple, 2)};
		}

		background: var(--ui);
	}
}

.isDark {
	@each $tuple in variables.$ui-dark {
		#{"--"}#{nth($tuple, 1)}: #{nth($tuple, 2)};
	}
}
.isLight {
	@each $tuple in variables.$ui-light {
		#{"--"}#{nth($tuple, 1)}: #{nth($tuple, 2)};
	}
}

:root {
	// To make the default dark, change
	// $ui-light to $ui-dark
	@each $tuple in variables.$ui-light {
		#{"--"}#{nth($tuple, 1)}: #{nth($tuple, 2)};
	}	

	// Explicit coloring
	@each $tuple in variables.$ui-dark {
		#{"--dark-"}#{nth($tuple, 1)}: #{nth($tuple, 2)};
	}
	@each $tuple in variables.$ui-light {
		#{"--light-"}#{nth($tuple, 1)}: #{nth($tuple, 2)};
	}

	--border-radius: 0.25rem;

	--shadow-xs: 0 1px 0px rgba(0, 0, 0, 0.12);
	--shadow-sm: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
	--shadow-md: 0 0.5rem 2rem rgba(0, 0, 0, 0.12);
	--shadow-lg: 0 2rem 4rem rgba(0, 0, 0, 0.12);
	--shadow-hover: 0 2rem 4rem rgba(0, 0, 0, 0.12);
	--shadow-sticky: 0 0.75rem 0.5rem -0.5rem rgba(0, 0, 0, 0.12);

	// Motion
	// Values are taken from:
	/*! https://www.carbondesignsystem.com/guidelines/motion/overview/ */
	--productive-standard: cubic-bezier(0.2, 0, 0.38, 0.9);
	--expressive-standard: cubic-bezier(0.4, 0.14, 0.3, 1);

	--productive-entrance: cubic-bezier(0, 0, 0.38, 0.9);
	--expressive-entrance: cubic-bezier(0, 0, 0.3, 1);

	--productive-exit: cubic-bezier(0.2, 0, 1, 0.9);
	--expressive-exit: cubic-bezier(0.4, 0.14, 1, 1);

	--duration-fast-01: 70ms;
	--duration-fast-02: 110ms;

	--duration-moderate-01: 150ms;
	--duration-moderate-02: 240ms;

	--duration-slow-01: 400ms;
	--duration-slow-02: 700ms;

	// Shorthand
	--p-s: var(--productive-standard);
	--e-s: var(--expressive-standard);

	--p-e: var(--productive-entrance);
	--e-e: var(--expressive-entrance);

	--p-exit: var(--productive-exit);
	--e-exit: var(--expressive-exit);

	--d-f-1: var(--duration-fast-01);
	--d-f-2: var(--duration-fast-02);

	--d-m-1: var(--duration-moderate-01);
	--d-m-2: var(--duration-moderate-02);

	--d-s-1: var(--duration-slow-01);
	--d-s-2: var(--duration-slow-02);

	// Layout
	@each $name, $value in variables.$view {
		#{"--"}#{$name}: #{map.get(variables.$view, $name)};
	}
}

@each $color in variables.$colors {
	body[data-dynamic-color=#{$color}] {
		--accent: var(#{'--'}#{$color}#{'-500'});
		--accent-hover: var(#{'--'}#{$color}#{'-600'});

		--accent-50: var(#{'--'}#{$color}#{'-50'});
		--accent-100: var(#{'--'}#{$color}#{'-100'});
		--accent-200: var(#{'--'}#{$color}#{'-200'});
		--accent-300: var(#{'--'}#{$color}#{'-300'});
		--accent-400: var(#{'--'}#{$color}#{'-400'});
		--accent-500: var(#{'--'}#{$color}#{'-500'});
		--accent-600: var(#{'--'}#{$color}#{'-600'});
		--accent-700: var(#{'--'}#{$color}#{'-700'});
		--accent-800: var(#{'--'}#{$color}#{'-800'});
		--accent-900: var(#{'--'}#{$color}#{'-900'});
	}
}
