// Head
@use '../variables';

* {
	box-sizing: border-box !important;
}

a {
	user-select: none;
	cursor: pointer;
	text-decoration: none;
}

button {
	box-shadow: none;
	outline: none;
	border: none;
	cursor: pointer;
}

pre {
	margin: 0;
	max-width: 100%;
}

code:not([class]) {
    display: inline-flex;
    padding: 0.25rem 0.25rem;
	line-height: 1;
    border-radius: .25rem;
    background: var(--ui-2);
    white-space: pre-wrap;
    color: var(--text-color);
	font-size: 1rem;
}