@use '../variables';
@use '../functions';

html,
body {
	font-size: 16px;
	background: var(--ui);
	color: var(--text-color);
}

@each $shade in variables.$shades {
	body.#{$shade} {
		@each $weight in variables.$color-weights {
			--ui-#{functions.str-replace($weight, '0', '')}: var(--#{$shade}-#{$weight});
		}
	}
}

@each $color in variables.$interactive-colors {
	body.#{$color} {
		--accent: var(--#{$color}-500);
		--accent-hover: var(--#{$color}-600);

		@each $weight in variables.$color-weights {
			--accent-#{$weight}: var(--#{$color}-#{$weight}) !important;
		}
	}
}

@supports (scroll-behavior: smooth) {
	html {
		scroll-behavior: smooth;
	}
}

// So that you know if your values are unexpected
.null,
.undefined {
	background-color: var(--red-600);
}
