@use '../../variables';

p {
	font-size: 1rem;
	margin-top: 0;
	line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-bottom: 1rem;
	line-height: 1.5em;
	font-weight: 500;
}
h2,
h6 {
	font-weight: 600;
}

h1,
.h1 {
	font-size: 3.125rem;
}
h2,
.h2 {
	font-size: 2.5rem;
}
h3,
.h3 {
	font-size: 2rem;
}
h4,
.h4 {
	font-size: 1.5rem;
}
h5,
.h5 {
	font-size: 1.25rem;
}
h6,
.h6 {
	font-size: 1.125rem;
}

