@use '../../variables';
@use "styles";

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		.#{$id}-text-l {
			text-align: left;
		}
		.#{$id}-text-c {
			text-align: center;
		}
		.#{$id}-text-r {
			text-align: right;
		}
	
		h1 {
			font-size: 2.625rem;
		}
		h2 {
			font-size: 2.375rem;
		}
	
		@each $tuple in styles.$font-sizes {
			.#{$id}-fs-#{nth($tuple, 1)} {
				font-size: #{nth($tuple, 2)}#{'rem'} !important;
				line-height: #{nth($tuple, 3)}#{'rem'} !important;
			}
		}
	}
}
