// When you use SCSS to compile a lot of CSS rules,
// small changes like replacing "tablet-landscape" with
// "tl" makes a surprising difference.
//
// The top three breakpoints are disabled by default; they
// double the output and most designs won't need them.
//
// dh => desktop-huge
// dw => desktop-wide
// dn => desktop-normal
// ds => desktop-small
// tl => tablet-landscape
// tp => tablet-portrait
// ml => mobile-landscape
// mp => mobile-portrait

$breakpoints: (
	// 'dh' '2200px',
	// 'dw' '1900px',
	// 'dn' '1600px',
	'ds' '1300px',
	'tl' '1024px',
	'tp' '768px',
	'ml' '520px',
	'mp' '380px'
);

// Colors
$colors: (
	'accent',
	'rose',
	'pink',
	'fuchsia',
	'purple',
	'violet',
	'indigo',
	'blue',
	'sky',
	'cyan',
	'teal',
	'emerald',
	'green',
	'lime',
	'yellow',
	'amber',
	'orange',
	'red',
	'warmGray',
	'trueGray',
	'gray',
	'coolGray',
	'blueGray'
);
$interactive-colors: (
	'accent',
	'rose',
	'pink',
	'fuchsia',
	'purple',
	'violet',
	'indigo',
	'blue',
	'sky',
	'cyan',
	'teal',
	'emerald',
	'green',
	'lime',
	'yellow',
	'amber',
	'orange',
	'red'
);
$shades: 'coolGray', 'warmGray', 'gray';
$color-weights: '50', '100', '200', '300', '400', '500', '600', '700', '800', '900';

$uis: (
	'ui',
	'ui-05',
	'ui-1',
	'ui-2',
	'ui-3',
	'ui-4',
	'ui-5',
	'ui-6',
	'ui-7',
	'ui-8',
	'ui-9',
	'ui-10',
);

$basic-colors: (
	'white' 'white',
	'white-08' 'rgba(255, 255, 255, 0.8)',
	'white-07' 'rgba(255, 255, 255, 0.7)',
	'white-06' 'rgba(255, 255, 255, 0.6)',
	'white-05' 'rgba(255, 255, 255, 0.5)',
	'white-04' 'rgba(255, 255, 255, 0.4)',
	'white-03' 'rgba(255, 255, 255, 0.3)',
	'white-02' 'rgba(255, 255, 255, 0.2)',
	'white-015' 'rgba(255, 255, 255, 0.15)',
	'white-012' 'rgba(255, 255, 255, 0.12)',
	'white-006' 'rgba(255, 255, 255, 0.06)',
	'black' 'black',
	'black-08' 'rgba(0, 0, 0, 0.8)',
	'black-07' 'rgba(0, 0, 0, 0.7)',
	'black-06' 'rgba(0, 0, 0, 0.6)',
	'black-05' 'rgba(0, 0, 0, 0.5)',
	'black-04' 'rgba(0, 0, 0, 0.4)',
	'black-03' 'rgba(0, 0, 0, 0.3)',
	'black-02' 'rgba(0, 0, 0, 0.2)',
	'black-015' 'rgba(0, 0, 0, 0.15)',
	'black-012' 'rgba(0, 0, 0, 0.12)',
	'black-006' 'rgba(0, 0, 0, 0.06)',
);

$dynamic-colors: (
	'dynamic' 'text-color',
	'dynamic-09' 'text-color-09',
	'dynamic-08' 'text-color-08',
	'dynamic-07' 'text-color-07',
	'dynamic-06' 'text-color-06',
	'dynamic-05' 'text-color-05',
	'dynamic-04' 'text-color-04',
	'dynamic-03' 'text-color-03',
	'dynamic-02' 'text-color-02',
	'dynamic-012' 'text-color-012',
	'dynamic-006' 'text-color-006',
);

$ui-light: (
	'ui' 'white',
	'ui-05' 'var(--gray-50)',
	'ui-1' 'var(--gray-100)',
	'ui-2' 'var(--gray-200)',
	'ui-3' 'var(--gray-300)',
	'ui-4' 'var(--gray-400)',
	'ui-5' 'var(--gray-500)',
	'ui-6' 'var(--gray-600)',
	'ui-7' 'var(--gray-700)',
	'ui-8' 'var(--gray-800)',
	'ui-9' 'var(--gray-900)',
	'ui-10' 'black',
	'ui-yinyang' 'black',
	'ui-blur' 'rgba(255, 255, 255, 0.8)',
	'ui-blur-fallback' 'rgba(255, 255, 255, 0.98)',
	'text-color' '#161616',
	'text-color-1' 'rgba(0, 0, 0, 0.54)',
	'text-color-09' 'rgba(0, 0, 0, 0.9)',
	'text-color-08' 'rgba(0, 0, 0, 0.8)',
	'text-color-07' 'rgba(0, 0, 0, 0.7)',
	'text-color-06' 'rgba(0, 0, 0, 0.6)',
	'text-color-05' 'rgba(0, 0, 0, 0.5)',
	'text-color-04' 'rgba(0, 0, 0, 0.4)',
	'text-color-03' 'rgba(0, 0, 0, 0.3)',
	'text-color-02' 'rgba(0, 0, 0, 0.2)',
	'text-color-012' 'rgba(0, 0, 0, 0.12)',
	'text-color-006' 'rgba(0, 0, 0, 0.06)',
);

$ui-dark: (
	'ui' 'var(--gray-900)',
	'ui-05' 'var(--gray-800)',
	'ui-1' 'var(--gray-800)',
	'ui-2' 'var(--gray-700)',
	'ui-3' 'var(--gray-600)',
	'ui-4' 'var(--gray-500)',
	'ui-5' 'var(--gray-400)',
	'ui-6' 'var(--gray-300)',
	'ui-7' 'var(--gray-200)',
	'ui-8' 'var(--gray-100)',
	'ui-9' 'var(--gray-50)',
	'ui-10' 'white',
	'ui-yinyang' 'white',
	'ui-blur' 'rgba(0, 0, 0, 0.8)',
	'ui-blur-fallback' 'rgba(0, 0, 0, 0.95)',
	'text-color' '#fbfbfb',
	'text-color-1' 'rgba(255, 255, 255, 0.7)',
	'text-color-09' 'rgba(255, 255, 255, 0.9)',
	'text-color-08' 'rgba(255, 255, 255, 0.8)',
	'text-color-07' 'rgba(255, 255, 255, 0.7)',
	'text-color-06' 'rgba(255, 255, 255, 0.6)',
	'text-color-05' 'rgba(255, 255, 255, 0.5)',
	'text-color-04' 'rgba(255, 255, 255, 0.4)',
	'text-color-03' 'rgba(255, 255, 255, 0.3)',
	'text-color-02' 'rgba(255, 255, 255, 0.2)',
	'text-color-012' 'rgba(255, 255, 255, 0.12)',
	'text-color-006' 'rgba(255, 255, 255, 0.06)',
);

// Spacing
$spacing-rem: '0', '0.125', '0.25', '0.5', '0.75','1', '1.25', '1.5', '1.75', '2', '2.5', '3', '4', '5', '6', '7', '8', '9', '10', '12', '16', '20', '25', '30';
$spacing-percent: '1', '2', '4', '8', '10', '12', '16', '20', '22', '24', '30';

// Sizing
$sizings: 'mw' 'max-width', 'w' 'width', 'h' 'height', 'mxh' 'max-height', 'mnw' 'min-width', 'mnh' 'min-height';
$sizing-rem: '0', '0.125', '0.25', '0.5', '0.75', '1', '1.5', '1.75', '2', '2.5', '2.75', '3', '3.25', '3.5', '3.75', '4', '5', '6', '7', '8', '9', '10', '11', '12', '14', '16', '20', '25', '30', '32', '35', '38', '40', '42', '44', '50', '60', '70', '80', '85', '90', '100', '110', '120', '130';

// Motion
$easings: (
	'productive-standard',
	'expressive-standard',
	'productive-entrance',
	'expressive-entrance',
	'productive-exit',
	'expressive-exit',
	'p-s',
	'e-s',
	'p-e',
	'e-e',
	'p-exit',
	'e-exit'
);

$duration_vars: (
	'duration-fast-01',
	'duration-fast-02',
	'duration-moderate-01',
	'duration-moderate-02',
	'duration-slow-01',
	'duration-slow-02',
	'd-f-1',
	'd-f-2',
	'd-m-1',
	'd-m-2',
	'd-s-1',
	'd-s-2',
);
$basic_easings: 'ease' 'ease-in' 'ease-out' 'ease-in-out';

// View sizes (for .container)
$view: (
	'view-sm': '60%',
	'view-md': '65%',
	'view-fit': '75%',
	'view-default': '80%',
	'view-lg': '92%',
	'view-xl': '96%',
	'view-full': '100%',
);