// Cover
.j-link.cover {
	display: block;
	padding: 0.25rem;
	color: var(--text-color);

	&:hover {
		opacity: 1;
		color: var(--ui);
	}

	& span {
		position: relative;
		z-index: 9;
	}

	&::after {
		content: '';
		height: 0;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: currentColor;
		transition: var(--duration-moderate-01) var(--productive-standard);
		z-index: 8;
	}

	&:hover::after {
		height: 100%;
		background-color: var(--ui-yinyang);
	}

	&.accent {
		color: var(--accent);

		&:hover {
			color: white;
		}

		&:hover::after {
			background-color: var(--accent);
		}
	}
}
