$displays: 'inline' 'block' 'inline-block' 'inline-flex' 'inline-grid' 'none' 'initial' 'inherit' 'flex' 'grid';

@each $display in $displays {
	.d-#{$display} {
		display: #{$display}#{'!important'};
	}
}
