@use '../variables';
@use '../functions';

// Classes for flex layout. Use the $layouts variable
// to know what the main classes are.

// This layout starts items from the top-left
// in a column fashion.
%flex {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.flex {
	@extend %flex;
}
.flex-r {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

// Center items vertically
.flex-c {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column !important;
}

// Adjusts items horizontally in opposing
// order.
.flex-sb {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
	flex-direction: row !important;
}

// Flex row with vertcally centered items.
.flex-cr {
	display: flex;
	align-items: center;
	flex-direction: row;
}

$layouts: (
	'flex-row': (
		'flex-direction' 'row'
	),
	'flex-row-r': (
		'flex-direction' 'row-reverse'
	),
	'flex-column': (
		'flex-direction' 'column'
	),
	'flex-column-r': (
		'flex-direction' 'column-reverse'
	),
	'flex-wrap': (
		'flex-wrap' 'wrap'
	),
	'flex-nowrap': (
		'flex-wrap' 'nowrap'
	),
	'align-s': (
		'align-items' 'flex-start'
	),
	'align-c': (
		'align-items' 'center'
	),
	'align-e': (
		'align-items' 'flex-end'
	),
	'justify-s': (
		'justify-content' 'flex-start'
	),
	'justify-c': (
		'justify-content' 'center'
	),
	'justify-e': (
		'justify-content' 'flex-end'
	),
	'justify-sb': (
		'justify-content' 'space-between'
	),
	'justify-sa': (
		'justify-content' 'space-around'
	),
	'justify-se': (
		'justify-content' 'space-evenly'
	),
	'flex-0': (
		'flex' '0'
	),
	'flex-1': (
		'flex' '1'
	),
	'flex-2': (
		'flex' '2'
	),
	'flex-3': (
		'flex' '3'
	),
);

@each $class, $tuple in $layouts {
	.#{$class} {
		#{nth($tuple, 1)}: #{nth($tuple, 2)} !important;
	}
}

$align-content: (
	'center',
	'start',
	'end',
	'flex-start',
	'flex-end',
	'normal',
	'baseline',
	'first baseline',
	'last baseline',
	'space-between',
	'space-around',
	'space-evenly',
	'stretch',
	'safe center',
	'unsafe center',
	'inherit',
	'initial',
	'revert',
	'revert-layer',
	'unset'
);

$align-items: (
	'normal',
	'stretch',
	'center',
	'start',
	'end',
	'flex-start',
	'flex-end',
	'baseline',
	'first baseline',
	'last baseline',
	'safe center',
	'unsafe center',
	'inherit',
	'initial',
	'revert',
	'revert-layer',
	'unset'
);

@each $rule in $align-content {
	.alignc-#{functions.str-replace($rule, ' ', '-')} {
		align-content: #{$rule};
	}
}

@each $rule in $align-items {
	.align-#{functions.str-replace($rule, ' ', '-')} {
		align-items: #{$rule};
	}
}

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		@each $class, $tuple in $layouts {
			.#{$id}-#{$class} {
				#{nth($tuple, 1)}: #{nth($tuple, 2)} !important;
			}
		}
	
		.#{$id}-flex-c {
			display: flex !important;
			justify-content: center !important;
			align-items: center !important;
			flex-direction: column !important;
		}
	}
}
