@use 'sass:string';

@use '../variables';

// Classes for CSS Grid layout

@mixin base-grid() {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(1, minmax(0, 1fr));

	& .grid-block {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}
}

.grid {
	@include base-grid();	
}

.w-grid {
	width: 100%;
	@include base-grid();
}

$nums: '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12';

// Columns. e.g. grid-6 has 6 columns
@each $name in $nums {
	.grid-#{$name}, .grid-column-#{$name} {
		grid-template-columns: repeat(#{$name}, minmax(0, 1fr));
	}
}

// Rows. e.g. grid-row-6 has 6 rows
@each $name in $nums {
	.grid-row-#{$name} {
		grid-template-rows: repeat(#{$name}, minmax(0, 1fr));
	}
}


// These are special grid layouts.
// Instead of these special sizes, it's
// better to add more columns to your grid
// and manually set the span width on certain
// elements in the grid.
$specialized_sizes: '1' '2', '2' '1', '1' '3', '3' '1', '1' '4', '4' '1', '1' '5', '5' '1', '1' '6', '6' '1';

@each $tuple in $specialized_sizes {
	.grid-#{nth($tuple, 1)}-#{nth($tuple, 2)} {
		grid-template-columns: #{nth($tuple, 1)}#{'fr'} #{nth($tuple, 2)}#{'fr'};
	}
}


// Grid spans.
// e.g. grid-span-column-3 will take up 3 columns
$orientations: (
	'row' 'r',
	'column' 'c',
);
$spans: 1 2 3 4 5 6 7 8 9 10 11 12;

@each $orientation, $shortcut in $orientations {
	@each $val in $spans {
		.grid-span-#{$orientation}-#{$val}, .gs#{$shortcut}-#{$val} {
			grid-#{$orientation}: span #{$val} / span #{$val};
		}
	}
}

.grid-span-col-full {
	grid-column: 1 / -1;
}
.grid-span-col-auto {
	grid-column: auto;
}

.grid-span-row-auto {
	grid-row: auto;
}
.grid-span-row-full {
	grid-row: 1 / -1;
}

// Gaps in rem
$gaps: (
	'0' '0',
	'0-15' '0.15',
	'0-25' '0.25',
	'0-5' '0.5',
	'0-75' '0.75',
	'1' '1',
	'1-25' '1.25',
	'1-5' '1.5',
	'1-75' '1.75',
	'2' '2',
	'2-25' '2.25',
	'2-5' '2.5',
	'2-75' '2.75',
	'3' '3',
	'3-25' '3.25',
	'3-5' '3.5',
	'3-75' '3.75',
	'4' '4',
	'4-25' '4.25',
	'4-5' '4.5',
	'4-75' '4.75',
	'5' '5',
);

@each $name, $gap in $gaps {
	.gap-#{$name}, .gap-#{$name}#{"r"} {
		gap: #{$gap}#{'rem'};
	}
}

@each $name, $gap in $gaps {
	.gap-row-#{$name}, .gap-row-#{$name}#{"r"} {
		row-gap: #{$gap}#{'rem'};
	}
}

@each $name, $gap in $gaps {
	.gap-col-#{$name}, .gap-col-#{$name}#{"r"} {
		column-gap: #{$gap}#{'rem'};
	}
}

@each $id, $size in variables.$breakpoints {
	@media only screen and (max-width: #{$size}) {
		.grid-2.break-#{$id} {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	
		@each $name in $nums {
			.#{$id}-grid-#{$name}, .#{$id}-grid-column-#{$name} {
				grid-template-columns: repeat(#{$name}, minmax(0, 1fr)) !important;
			}
		}
	
		@each $tuple in $specialized_sizes {
			.#{$id}-grid-#{nth($tuple, 1)}-#{nth($tuple, 2)} {
				grid-template-columns: #{nth($tuple, 1)}#{'fr'} #{nth($tuple, 2)}#{'fr'};
			}
		}

		@each $orientation, $shortcut in $orientations {
			@each $val in $spans {
				.#{$id}-grid-span-#{$orientation}-#{$val}, .#{$id}-gs#{$shortcut}-#{$val} {
					grid-#{$orientation}: span #{$val} / span #{$val};
				}
			}
		}
	
		.#{$id}-grid-span-col-auto {
			grid-column: auto;
		}
		.#{$id}-grid-span-col-full {
			grid-column: 1 / -1;
		}
		.#{$id}-grid-span-row-auto {
			grid-row: auto;
		}
		.#{$id}-grid-span-row-full {
			grid-row: 1 / -1;
		}
	
		@each $name, $gap in $gaps {
			.#{$id}-gap-#{$name} {
				gap: #{$gap}#{'rem'};
			}
		}		
	}
}
