@use '../variables';

// Modular
.section {
	width: 100%;
	padding: 11% 0;

	&.xs {
		padding: 5% 0;
	}
	&.sm {
		padding: 8% 0;
	}
	&.lg {
		padding: 14% 0;
	}
	&.xl {
		padding: 22% 0;
	}
}

.container {
	width: 100%;
	max-width: var(--view-default);
	padding: 0 1.5rem;
	margin: 0 auto;

	&.sm {
		max-width: var(--view-sm);
	}
	&.md {
		max-width: var(--view-md);
	}
	&.lg {
		max-width: var(--view-lg);
	}
	&.xl {
		max-width: var(--view-xl);
	}

	&.grow {
		max-width: calc(var(--view-default) + 10%);
	}
}

.j-divider {
	width: 100%;
	height: 1px;
	background: var(--ui-3);
	margin: 1.5rem 0;
}


@media only screen and (min-width: 160rem) {
	.container {
		max-width: 160rem !important;

		&.grow {
			max-width: calc(100vw - 80rem);
		}
	}
}

@media only screen and (max-width: 991px) {
	.section {
		padding: 14% 0;
	}

	.container {
		max-width: var(--view-lg);

		&.grow {
			max-width: calc(var(--view-lg) + 5%);
		}
	}
}
@media only screen and (max-width: 767px) {
	.section {
		padding: 16% 0;
	}

	.container {
		max-width: var(--view-xl);

		&.grow {
			max-width: calc(var(--view-xl) + 2.5%);
		}
	}
}
@media only screen and (max-width: 478px) {
	.section {
		padding: 18% 0;
	}

	.container {
		max-width: var(--view-full);

		&.grow {
			max-width: var(--view-full);
		}
	}
}